@import '../../../constants/colors.scss';
.wrapper {
  background-color: $color-orange;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
}
