$color-yellow: #febc2c;
$color-backgroundYellow: #fdbc00;
$color-darkYellow: #fdb813;
$color-orange: #f7931d;
$color-darkOrange: #f5821f;
$color-red: #ed193a;
$color-darkRed: #d1213e;
$color-burgundy: #be1d37;
$color-lightBurgundy: #8e0b29;
$color-darkBurgundy: #840a26;
$color-tileBurgundy: #6b0c21;
$color-marron: #620b1f;
$color-black: #060606;
$color-white: #ffffff;
$color-grey: #5c5c5c;
$color-green: #00e46b;
$color-lightGrey: #dbdbdb;
$color-tintColorLight: #2f95dc;
$color-handleBar: #7d4f59;
$color-whiteOpacity: rgba(255, 255, 255, 0.37);
$color-blackOpacity: rgba(0, 0, 0, 0.2);
$color-transparent: rgba(255, 255, 255, 0);
$color-pink: #cc00cc;
$color-defaultGrey: #cbd2dc;
$color-darkGrey: #6f6f6f;
$color-palePink: #e7d1d6;
$color-yellowOpacity: rgba(252, 187, 44, 0.16);
$color-whiteOpacitiy70: rgba(252, 255, 255, 0.77);
$color-whiteOpacitiy40: rgba(252, 255, 255, 0.4);
$color-blackOpacity70: rgba(0, 0, 0, 0.7);
