@import '../../constants/colors.scss';
@import '../../constants/layout.scss';
@import '../../constants/fonts.scss';

.centeredView {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: $color-whiteOpacitiy40;
}

.modalView {
  margin: 20px;
  background-color: $color-white;
  border-radius: 5px;
  padding-top: 55px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  align-items: center;
  gap: 20px;
}

.input {
  height: 40px;
  width: 200px;
  background-color: $color-white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid $color-darkGrey;
}

.button {
  height: 40px;
  width: 100px;
  background-color: $color-orange;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  @include center;
}

.btnText {
  color: $color-white;
  font-size: $size-default;
  font-weight: 600;
}

.closeBtn {
  position: absolute;
  top: 5%;
  right: 2.5%;
  background-color: $color-white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  @include center;
}

.errMsg {
  color: $color-red;
}
